.overlay {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
  }
  
  .historySection {
    margin-top: 20px;
  }
  
  .historySection h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .historyList {
    list-style-type: none;
    padding: 0;
    color: #777;
  }
  
