.labelTxt{
    color: black;
}
.loginGroup{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2vh;
}

.loginGroup > input {
    width: 60%; 
}

.buttonsGroup{
    width: 20%;
    display: flex;
    direction: row;
    justify-content: space-between;

}

.loginGroup input[type=file] {
    color: black;
}

.loginGroup input[type=file]::file-selector-button  {
    color: black;
}

.buttonsGroup button{
    margin-top: 2vh;
    padding:5px 15px; 
    background: black; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 40%; 
    color: white;
}

.errorMessage{
    color: red
}